@import "menu";
$size: 200px;
$width: 20px;
$color: red;

body{
    padding-top: $size;
    margin: $width;
}

p{
    $size: 20px;
    margin: $width;
    padding-top: $size;
    width: calc(100%-#{$size});
}

ul{
    margin:0;
    display: block;
    li{
        text-decoration: none;
    }

    &:hover{
        background-color: green;
    }

    @media screen and (min-width: 640px) {
        display: flex;
    }
}